html {
    width: 100vw;
    max-width: 1920px;
    margin: 0px auto 0px auto;   
}
/* Cart icon in Nav BAr */
#cart-icon {
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

/* Product Image Corousal */
/* Owl Carousel */
.carousel1_container {
    width: 100% !important;
    float: left !important;
}

.carousel1_container .owl-item img {
    height: 500px !important;
    margin-left: 13%;
}

.carousel1 .owl-prev {
    left: -10px !important;
}

.carousel1 .owl-dots {
    display: table !important;
    margin: auto !important;
}

.container, .owl-carousel {
    float: inline-end;
    margin: 0% 4.8% !important;
}

.owl_carousel {
    width: 110%;
}

.owl-prev {
    left: -30px;
}

.owl-next {
    right: -30px;
    margin-right: -20px !important;
}

.owl-prev, .owl-next {
    position: absolute;
    top: 35%;
}

.owl-prev span, .owl-next span {
    font-size: 60px;
    color: #787878;
}

.owl-prev:hover, .owl-next:hover {
    font-size: 60px;
    color: #787878;
    background: 0 0 !important;
}

.owl-dots {
    margin-left: 48%;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
    background-color: transparent;
}

.carousel1_container .owl-carousel .card {
    margin: 0% 10%;
    border: none;
}

.owl-carousel .card {
    width: 100%;
}

.card_margin {
    margin: 0% 5%;
    background-color: #ddd;
}

.carousel2_container .owl-carousel .owl-stage-outer {
    margin-left: 2%;
}

/* Title, Add to Cart, Product description */
#title, #add_cart, .card {
    width: 90%;
    margin: 5%;
    float: left;
    text-align: left;
    float: inline-end;
    word-wrap: anywhere;
}

#title h5 {
    line-height: 32px !important;
}

#add-to-cart {
    width: 100%;
}

.card-desc {
    width: 90%;
    float: left;
    margin: 5%;
    height: 330px;
    text-align: left;
    word-wrap: anywhere;
}

/* Price - Promotions */
.promo {
    width: 40%;
    float: right;
    text-align: left;
}

/* Product Rating */
.rating .card {
    width: 40%;
    float: left;
    text-align: left;
}

/* Product Reviews [Comments] */
.reviews .card, .comment .card {
    width: 90%;
}

.reviews .card img {
    width: 56px;
    height: 56px;
}

.reviews-members-header, .reviews-members-body {
    text-align: left;
}


/* Post Comment */
textarea {
    width: 60% !important;
}

button {
    padding: 10px 30px;
    font-size: 15px;
    float: left;
}

#rating_review {
    font-size: 30px;
    font-weight: bold;
    float: left;
}

/* Footer */
.footer-top {
    float: inline-end;
    background: #111;
    padding: 80px 0;
    width: 100%;
}

.footer-top p {
    color: #999;
    line-height: 25px;
}

.footer-top h2 h3 {
    color: #fff;
}

.footer-top h2 {
    font-size: 18px;
}

.segment-one, .segment-two, .segment-three {
    width: 33% !important;
}

.segment-one h3 {
    color:  #fff;
    letter-spacing: 3px;
    margin: 10px 0;
}

.segment-two h2, .segment-three h2 {
    color: #fff;
    text-transform: uppercase;
}

.segment-two h2:before, .segment-three h2:before {
    content: '|';
    color: #c65039;
    padding-right: 10px;
}

.segment-two ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.segment-two ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    line-height: 40px;
}

.segment-two ul li a {
    color: #999;
    text-decoration: none;
}

.segment-three a {
    background: #494848;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}

.segment-three a i {
    font-size: 20px;
    color: #fff;
    padding: 10px 12px;
}

.footer-bottom-text {
    text-align: center;
    background: #000;
    line-height: 75px;
    float: inline-end;
    margin: 0%;
    width: 100% !important;
}

.footer-top .container {
    padding-left: 0px !important;
    padding-right: 70px !important;
}

/* CSS for Chrome Browser */
@supports (-webkit-appearance:none) and (not (overflow:-webkit-marquee))
and (not (-ms-ime-align:auto)) and (not (-moz-appearance:none)) {
    .footer-top {
        display: contents;
        background: #111;
        display: flex;
    }
    .row {
        width: 100%;
        margin-left: 60px !important;
    }
    .owl-carousel {
        float: left;
        /* margin: 5% !important; */
        margin-left: 2% !important;
    }
    .carousel1 {
        margin-top: 2% !important;
    }
    .carousel1_container {
        margin: 2% 9% !important;
    }
    .carousel1_container .owl-carousel {
        margin-left: -4% !important;
    }
    .carousel1_container .owl-item img {
        height: 500px !important;
        margin-left: -9%;
    }
    .carousel2 {
        margin: 5% 2% !important;
    }
    .carousel2_container .owl-carousel .owl-stage-outer {
        margin-left: 0% !important;
    }
}


/* Responsive Media Query */
/* @media (max-width: 1240px) {
    .container, .owl-carousel {
        margin: 0% 2.5% !important;
    }
}
@media (max-width: 1536px) {
    .carousel2 .owl-carousel {
        margin: 0% 12% !important;
    }
    .row {
        margin-left: -10% !important;
    }
    .card-desc {
        margin-bottom: 11% !important;
    }
} */
/* @media (max-width: 1920px) {
    .carousel1_container {
        margin-left: 22% !important;
        float: inline-end;
    }
    .carousel2_container .owl-carousel {
        margin: 0% 30% !important;
    }
    .row {
        margin-left: -44% !important;
    }
    .card-desc {
        margin-bottom: 16% !important;
    }
} */


